<h1> <%= @sub.title %> </h1>
<h2> <%= @sub.description %> </h2>

<ul>
  <% @sub.posts.each do |post| %>
  <li>
    <%= link_to post.title, post_url(post) %>
  </li>
  <% end %>
</ul>


<h2>Create Post</h2>
<form class="" action="<%= posts_url %>" method="post">
  <input type="hidden" name="post[sub_id]" value="<%= @sub.id %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">Title
  <input type="text" name="post[title]" value="">
  </label>

  <label for="">Content
  <input type="text" name="post[content]" value="">
  </label>

  <label for="">URL
  <input type="text" name="post[url]" value="">
  </label>

  <input type="hidden" name="post[sub_ids][]" value="">
    <% Sub.all.each do |sub| %>
      <label><%= sub.title %>
        <input type="checkbox" name="post[sub_ids][]" value="<%= sub.id %>">


      </label>

    <% end %>
    <br>

  <input type="submit" name="" value="Create New Post">
</form>
