<h2>Edit Post</h2>
<form class="" action="<%= post_url(@post) %>" method="post">
  <input type="hidden" name="_method" value="PATCH">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="">Title
  <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>

  <label for="">content
  <input type="text" name="post[content]" value="<%= @post.content %>">
  </label>

  <label for="">URL
  <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>

  <input type="submit" name="" value="Edit Post">
</form>
